// front page only

.front-hero {
    margin-top: var(--h-top);
    @media (min-width:992px) {
        margin-top: var(--h-top-desktop);
    }
    min-height: 500px;
    @media(min-width:992px) {
        height: 500px;
    }
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #ccc;
    position: relative;
    isolation: isolate;

    &__overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(45deg,#004445cc 0,#6fb98fcc 100%);
        z-index: -1;
    }
    
    &__inner {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1rem;
        backdrop-filter: blur(2px);
        border-radius: var(--border-lg);
        box-shadow: var(--shadow-out);
        @media (max-width:992px) {
            flex: 1;
        }
    }

    &__title {
        font-size: var(--fs-900);
        font-weight: 700;
        line-height: 1;
        color: var(--col-gold-400);
        
        @media screen and (width >= 2000px) {
            font-size: 90px;
        }
    }

    &__subtitle {
        font-size: calc(26px + (36 - 26) * ((100vw - 300px) / (1200 - 300)));
        line-height: 1.1;
        padding-inline: 0.5rem;
        color: white;

        @media screen and (width >= 2000px) {
        font-size: 36px;
        }
    }

    &__badges {
        display: flex;
        justify-content: space-around;
        img {
            max-width: 125px;
            // box-shadow: var(--shadow-out);
            filter: var(--shadow-out-f);
        }   
    }

    &__countdown {
        background-color: var(--col-green-400);
        color: white;
        padding: 1rem 1rem 0 1rem;
        margin-bottom: 1rem;
        @media (min-width:992px) {
            margin-bottom: -0.75rem;
        }
        border-radius: var(--border-lg);
        box-shadow: var(--shadow-out);
        position: relative;

        @media (min-width:576px) {
            min-height: 180px;
        }
        @media (min-width:992px) {
            min-height: 220px;
        }
        &--overlay {
            position: absolute;
            background-image: url(../img/overlay-bg.png);
            inset: 0;
            background-size: cover;
            background-position: center;
            opacity: 0.25;
        }
    }
}

.notification {
    padding: 1rem 0;
    font-weight: 600;
    background-color: var(--col-gold-400);
    font-size: var(--fs-500);
}
.ticker-heading {
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1.6;
}

// general hero

.hero {
    margin-top: var(--h-top);
    @media (min-width:992px) {
        margin-top: var(--h-top-desktop);
    }
    height: 400px;

    &__bg {
        position: absolute;
        inset: 0;
        object-fit: cover;
        width: 100%;
        height: 100% !important;
        z-index: -2;
    }

    position: relative;
    isolation: isolate;
    &__inner {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1rem;
        backdrop-filter: blur(2px);
        border-radius: var(--border-lg);
        box-shadow: var(--shadow-out);
        @media (max-width:992px) {
            flex: 1;
        }
        h1 {
            font-size: var(--fs-900);
            font-weight: 700;
            line-height: 1.1;
            color: var(--col-gold-400);
            margin-bottom: 0;

            @media screen and (width >= 2000px) {
                font-size: 90px;
            }
        }
    }
    &__subtitle {
        font-size: calc(26px + (36 - 26) * ((100vw - 300px) / (1200 - 300)));
        line-height: 1.1;
        padding-inline: 0.5rem;
        color: white;
        text-wrap: balance;

        @media screen and (width >= 2000px) {
            font-size: 36px;
        }
    }
}
